node_modules/**/*
.expo/*
.tmp/*
.idea/*
.vscode/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/firebase/config.ts
.DS_Store
package-lock.json
yarn.lock
yarn-error.log
post-change/
debug.log
google-services.json